{% load wagtailcore_tags %}


<footer class="footer">
      <container class="footer__wrapper container">
        <div class="footer__info">
          <div class="logo">CLEANOK</div>
          <p class="footer__content">
            {{ footerl.bodytext|richtext }}
          </p>
        </div>

        </div>
        <div class="footer__contacts">
          <p class="footer__contacts_text" >{{ footerr.bodytext|richtext }}</p>
        </div>
      </container>


<!-- код Светы
<footer class="footer">
      <container class="footer__wrapper container">
        <div class="footer__info">
          <div class="logo">CLEANOK</div>
          <p class="footer__content">
            ООО «Клин Ок» — клининговая компания на Дальнем Востоке Данные
            юридического лица компании ОГРН, КПП <br>г. Хабаровск, ул. Серышева, 56
          </p>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts_text" >Единая справочная служба</p>
          <p class="footer__contacts_info">по России звонок бесплатный</p>
          <p class="footer__contacts_phone">8 800 333 99 09</p>
        </div>
      </container>
    </footer>