<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CLEANOK</title>
    <link rel="stylesheet" href="./static/normalize.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto:wght@400;500&family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <script src="./static/js/main.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <div class="logo">CLEANOK</div>
        <div class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link link">Клиенты</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link link">Услуги</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link link">Сертификаты</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link link">Контакты</a>
            </li>
          </ul>
          <div class="nav__burger">
            <a href="#modalOpen" class="nav__link link">
              <div class="burger">
                <span class="burger burger-one"></span>
                <span class="burger burger-tow"></span>
                <span class="burger burger-three"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="intro container">
      <div class="intro__descr">
        <div>
          <span class="intro__header"
            >Техническая эксплуатация <br />и содержание недвижимости</span
          >
          <p class="intro__text">
            Забота о вашей недвижимости на регулярной и разовой основе.
            Отставьте заявку и наш менеджер свяжется с вами
          </p>
          <form>
            <button class="intro__btn">
              <a href="#call" class="intro__btn">Заказать звонок</a>
            </button>
          </form>
        </div>
        <div class="intro__features">
          <p>
            Более <a href="#" class="city">60 городов </a><br />по Дальнему
            Востоку
          </p>
          <!-- 60 городов гиперссылка -->
          <p>Более 1 000 объектов <br />на обслуживании</p>
          <p>Более 500 тыс. м<sup>2</sup> обслуживаемых территорий</p>
          <!-- степень -->
        </div>
      </div>
      <div class="intro__image">
        <img src="./static/src/img/main_img.jpg" alt="clean room" />
      </div>
    </div>
    <div class="clients container">
      <span class="clients__descr">Наши клиенты</span>
      <h2 class="clients__header">Нам доверяют</h2>
      <div class="clients__logo">
        <img src="./static/src/icons/clients/mts.png" alt="MTS" />
        <img src="./static/src/icons/clients/rzd.png" alt="RGD" />
        <img src="./static/src/icons/clients/vtb24.png" alt="VTB" />
        <img src="./static/src/icons/clients/sber.png" alt="Sber" />
        <img src="./static/src/icons/clients/vostbank.png" alt="Vostochnyi" />
        <img src="./static/src/icons/clients/tele2.png" alt="TELE2" />
        <img src="./static/src/icons/clients/siemens.png" alt="Siemens" />
        <img src="./static/src/icons/clients/russianstandart.png" alt="RussStand" />
        <img src="./static/src/icons/clients/russiapost.png" alt="russian post" />
        <img src="./static/src/icons/clients/museum.png" alt="Museum" />
        <img src="./static/src/icons/clients/posudacentr.png" alt="PosudaCentr" />
        <img src="./static/src/icons/clients/gerb.png" alt="gerb" />
        <img src="./static/src/icons/clients/dvbank.png" alt="DV bank" />
        <img src="./static/src/icons/clients/dvtamog.png" alt="DVTU" />
        <img src="./static/src/icons/clients/deer.png" alt="deer" />
        <img src="./static/src/icons/clients/atb.png" alt="ATB" />
        <img src="./static/src/icons/clients/megafon.png" alt="Megafon" />
        <img src="./static/src/icons/clients/rosbank.png" alt="Rosbank" />
        <img src="./static/src/icons/clients/vivea.png" alt="Vivea" />
        <img src="./static/src/icons/clients/baltica.png" alt="Baltica" />
      </div>
    </div>
    <section class="services container">
      <span class="services__descr">услуги</span>
      <h2 class="services__header">
        Берем на себя заботу <br />о вашей недвижимости
      </h2>
      <div class="services__info">
        <div class="services__list">
          <button class="tablinks" onclick="openService(event, 'service-one')" id="defaultOpen">    <!-- then click goes blue and chandge card -->
            <div class="list-number">01</div></a>
            <div class="list-header">
            Содержание внутренних помещений и территорий
            </div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-tow')">
            <div class="list-number">02</div></a>
            <div class="list-header">
            Управление и эксплуатация коммерческой недвижимости и в сфере ЖКХ
            </div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-three')">
            <div class="list-number">03</div>
            <div class="list-header">Хозяйственное <br>обслуживание</div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-four')">
            <div class="list-number">04</div>
            <div class="list-header">
              Техническое обслуживание инженерных систем
            </div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-five')">
            <div class="list-number">05</div>
            <div class="list-header">Поддержка материально- технической базы</div>
          </button>
        </div>
        <!-- Грид из номера услуги и описания -->
        <div class="services__content">
          <div id="service-one" class="service-one tabcontent">
            <div>
              <div class="title-one">Ежедневная уборка</div>
              <div class="content-one">
                Внутренние помещения <br />и прилегающие территории
              </div>
            </div>
            <div>
              <div class="title-one">Генеральная уборка</div>
              <div class="content-one">
                После строительства, ремонта, <br />пожара, затопления
              </div>
            </div>
            <div>
              <div class="title-one">Химчистка</div>
              <div class="content-one">
                Мягкой мебели, <br />ковров, жалюзи
              </div>
            </div>
            <div>
              <div class="title-one">Уход за полом</div>
              <div class="content-one">
                Полировка, <br />машинная мойка
              </div>
            </div>
            <div>
              <div class="title-one">Озеленение и благоустройство</div>
              <div class="content-one">
                Полив и стрижка газонов, <br />уход за насаждениями
              </div>
            </div>
            <div>
              <div class="title-one">Уход за фасадами</div>
              <div class="content-one">
                Окна, витрины, <br />фасады зданий
              </div>
            </div>
            <div>
              <div class="title-one">Вывоз мусора</div>
              <div class="content-one">
                Сбор и вывоз <br />на свалку
              </div>
            </div>
          </div>
          <div id="service-tow" class="service-tow tabcontent">
            <div class="service-tow__info ">
              <div>
                <div class="title-tow">
                Аварийно-восстановительные работы
                </div>
                <div class="content-tow">
                Восстановим работу ваших объектов в случае аварий
                </div>
              </div>
              <div>
                <div class="title-tow">Уборка внутренних помещений</div>
                <div class="content-tow">
                Ежедневная, генеральная уборка, химчистка
                </div>
              </div>
              <div>
                <div class="title-tow">Уборка прилегающих территорий</div>
                <div class="content-tow">Вывоз снега, бытовых отходов</div>
              </div>
            </div>
            <div class="service-tow__img">
              <!-- <img src="./static/src/img/Service2.jpg" alt="servise" /> -->
            </div>
          </div>
          <div id="service-three" class="service-three tabcontent">
            <div class="service-three__info ">
              <div>
                <div class="title-three">
                Комплексное эксплуатационно-
                техническое обслуживание
                </div>
                <div class="content-three">
                </div>
              </div>
              <div>
                <div class="title-three">Текущий ремонт жилых домов, 
                инженерных систем, оборудования</div>
                <div class="content-three">
                </div>
              </div>
              <div>
                <div class="title-three">Озеленение и благоустройство территории</div>
                <div class="content-three">Клумбы, газоны, посадки, детские и спортивные площадки, парковки, дорожки, малые архитектурные формы, земляные работы, асфальтирование, освещение.</div>
              </div>
            </div>
            <div class="service-three__img">
            </div>
          </div>
          <div  id="service-four"  class="service-four tabcontent">
            <div class="service-four__container">
              <span class="title-one">Обслуживаемые системы</span>
              <div class="service-four__wrapper">
                <div>
                  <div  class="icon"><img src="./static/src/icons/service4/heating.png" alt="heating"></div>
                  <div class="content"><p>Теплоснабжение</p></div>
                </div>
                <div>
                  <div class="icon"><img src="./static/src/icons/service4/electricity.png" alt="electricity"></div>
                  <div class="content"><p>Электроснабжение</p></div>
                </div>
                <div>
                  <div class="icon"><img src="./static/src/icons/service4/plumbing.png" alt="plumbing"></div>
                  <div class="content"><p>Водоснабжение
                  и канализация</p></div>
                </div>
                <div>
                  <div class="icon"><img src="./static/src/icons/service4/remoteControl.png" alt="remotecntr"></div>
                  <div class="content"><p>Удаленный контроль
                  оборудования</p></div>
                </div>
                <div>
                  <div class="icon"><img src="./static/src/icons/service4/ventilation.png" alt="ventilation"></div>
                  <div class="content"><p>Вентиляция и
                  кондиционирование</p></div>
                </div>
                <div>
                  <div class="icon"><img src="./static/src/icons/service4/fire.png" alt="fire"></div>
                  <div class="content"><p>Противопожарная
                  безопасность</p></div>
                </div>
              </div>
            </div>
            <div class="service-four__list">
              <span class="title-one">Услуги</span>
              <div class="content"><p>Контроль состояния систем;</p>
              <p>Сезонная наладка и тестирование;</p>
              <p>Ремонтные и профилактические работы;</p>
              <p>Обслуживание грузоподъемных 
                механизмов;</p>
              <p>Планово-предупредительные работы.</p></div>
            </div>
          </div>
          <div  id="service-five"  class="service-five tabcontent">
            <div class="service-five__info">
              <!-- <div class="service-five__content"> -->
                <div class="icon">
                  <img src="./static/src/icons/service5/parts.png" alt="parts">
                </div>
                <div class="title">Запчасти;</div>
                <div class="icon">
                  <img src="./static/src/icons/service5/materials.png" alt="equipment">
                </div>
                <div class="title">Расходные материалы;</div>
                <div class="icon">
                  <img src="./static/src/icons/service5/equipment.png" alt="materials">
                </div>
                <div class="title">Оборудование и монтаж;</div>
                <div class="icon">
                  <img src="./static/src/icons/service5/office.png" alt="office">
                </div>
                <div class="title">Общее офисное снабжение.</div>
              <!-- </div> -->
            </div>
            <div class="service-five__img">            
            </div>
          </div>
        </div>
        <!-- карточка сервиса с ссылками -->
      </div>
      </div>
    </section>
    <div class="sertificates">
      <div class="sertificates__wrapper">
        <div class="sert__title">
          <span class="sertificates__descr">сертификаты и рекомендации</span>
          <h2 class="sertificates__header">Мы подтвеждаем компетенцию</h2>
        </div>
        <div class="sertificates__swiper">
          <div class="swiper">
              <div class="swiper__wrapper">
                <div class="swiper_card">
                  <a href="#">
                    <img src="./static/src/icons/PDFSertificat.png" alt="sertificate" class="swiper__img">
                  </a>
                  <span class="swiper__descr">Сертификат</span>
                  <h2 class="swiper__header">Veleda Professional</h2>
                  <p class="swiper__content">Обучение по курсу <br>
                    “Специалист”</p>
                </div>
                <div class="swiper_card">
                  <a href="#">
                    <img src="./static/src/icons/PDFSertificat.png" alt="sertificate" class="swiper__img">
                  </a>
                  <span class="swiper__descr">Сертификат</span>
                  <h2 class="swiper__header">Gansow Gmatic AG</h2>
                  <p class="swiper__content">Курс по эксплуатации, <br>обслуживанию и ремонту<br>
                  поломоечных машин Gmatic</p>
                </div>
                <div class="swiper_card">
                  <a href="#">
                    <img src="./static/src/icons/PDFSertificat.png" alt="sertificate" class="swiper__img">
                  </a>
                  <span class="swiper__descr">Сертификат</span>
                  <h2 class="swiper__header">Columbus Reinigungsmaschinen</h2>
                  <p class="swiper__content">CleanOk — официальный дилер<br>
                  и сервисный центр</p>
                </div>
                <div class="swiper_card">
                  <a href="#">
                    <img src="./static/src/icons/PDFSertificat.png" alt="sertificate" class="swiper__img">
                  </a>
                  <span class="swiper__descr">Сертификат</span>
                  <h2 class="swiper__header">Veleda Professional</h2>
                  <p class="swiper__content">Официальный дистрибьютор<br>
                  торговой марки</p>
                </div>
              </div>
            <!-- <div class="swiper_arrows"> -->
              <div class="swiper__arrows">
                <div class="arrow-left">
                <img src="./static/src/icons/arrow-left.png" alt="">
                </div>
                <div class="arrow-right">
                  <img src="./static/src/icons/arrow-right.png" alt="">
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <!--  слайдер с сертификатами гиперссылки -->
    </div>
    <div class="offices">
      <div class="map">
        <img src="./static/src/img/Map.jpg" alt="map" />
      </div>
      <div class="search">
        <form action="">
          <img src="./static/src/img/Search.jpg" alt="" />
          <!-- форма поиска офиса -->
        </form>
      </div>
    </div>
    <section class="Action">
      <a id="call"></a>
      <div>
        <span>оставьте заявку</span>
        <h2>Напишите нам</h2>
        <article>
          С 2009 года создаем чистоту на объектах. Подбираем график с учетом
          пожеланий клиента. Экономим время, деньги и даем отличный результат за
          счет использования профессиональной техники, экологически безопасных
          средств, регулярного обучения персонала и оптимизации процесса.
          Заполните форму, мы свяжемся с вами в ближайшее время, обсудим задачи
          и предложим оптимальное решение.
        </article>
      </div>
      <div>
        <form action=""></form>
      </div>
    </section>
    <footer class="footer">
      <div>
        <div class="logo">CLEANOK</div>
        <p>
          ООО «Клин Ок» — клининговая компания на Дальнем Востоке Данные
          юридического лица компании ОГРН, КПП г. Хабаровск, ул. Серышева, 56
        </p>
      </div>
      <div class="footer__contacts">
        <p>Единая справочная служба</p>
        <p>по России звонок бесплатный</p>
        <p>8 800 333 99 09</p>
      </div>
    </footer>
    <div id="modalOpen" class="modal">
        <a href="#close" title="Закрыть" class="close">X</a>
        
    </div>
  </body>
</html>
