{% extends "base.html" %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}

    <div class="intro container">
      <div class="intro__descr">
        <div>
          <span class="intro__header"
            >Техническая эксплуатация <br />и содержание недвижимости</span
          >
          <p class="intro__text">
            Забота о вашей недвижимости на регулярной и разовой основе.
            Отставьте заявку и наш менеджер свяжется с вами
          </p>
          <div class="intro__btn">
            <a href="#call_action" class="nav__link-btn yakor">Заказать звонок</a>
          </div>
        </div>
        <div class="intro__features">
          <p>
            Более <a href="#contacts" class="city">60 городов </a><br />по Дальнему
            Востоку
          </p>
          <!-- 60 городов гиперссылка -->
          <p>Более 1 000 объектов <br />на обслуживании</p>
          <p>Более 500 тыс. м<sup>2</sup> обслуживаемых территорий</p>
          <!-- степень -->
        </div>
      </div>
      <div class="intro__image">
        <img
          class="intro__image"
          src="./static/src/img/main_img.jpg"
          alt="clean room"
        />
      </div>
    </div>
    <div class="clients container" id="clients">
      <span class="clients__descr">Наши клиенты</span>
      <h2 class="clients__header">Нам доверяют</h2>
      <div class="clients__logo">
        <img src="./static/src/icons/clients/mts.png" alt="MTS" />
        <img src="./static/src/icons/clients/rzd.png" alt="RGD" />
        <img src="./static/src/icons/clients/vtb24.png" alt="VTB" />
        <img src="./static/src/icons/clients/sber.png" alt="Sber" />
        <img src="./static/src/icons/clients/vostbank.png" alt="Vostochnyi" />
        <img src="./static/src/icons/clients/tele2.png" alt="TELE2" />
        <img src="./static/src/icons/clients/siemens.png" alt="Siemens" />
        <img src="./static/src/icons/clients/russianstandart.png" alt="RussStand" />
        <img src="./static/src/icons/clients/russiapost.png" alt="russian post" />
        <img src="./static/src/icons/clients/museum.png" alt="Museum" />
        <img src="./static/src/icons/clients/posudacentr.png" alt="PosudaCentr" />
        <img src="./static/src/icons/clients/gerb.png" alt="gerb" />
        <img src="./static/src/icons/clients/dvbank.png" alt="DV bank" />
        <img src="./static/src/icons/clients/dvtamog.png" alt="DVTU" />
        <img src="./static/src/icons/clients/deer.png" alt="deer" />
        <img src="./static/src/icons/clients/atb.png" alt="ATB" />
        <img src="./static/src/icons/clients/megafon.png" alt="Megafon" />
        <img src="./static/src/icons/clients/rosbank.png" alt="Rosbank" />
        <img src="./static/src/icons/clients/vivea.png" alt="Vivea" />
        <img src="./static/src/icons/clients/baltica.png" alt="Baltica" />
      </div>
    </div>
    <section class="services container" id="srv">
      <span class="services__descr">услуги</span>
      <h2 class="services__header">
        Берем на себя заботу <br />о вашей недвижимости
      </h2>
      <div class="services__info">
        <div class="services__list">
          <button
            class="tablinks"
            onclick="openService(event, 'service-one')"
            id="defaultOpen"
          >
            <!-- when click goes blue and chandge card -->
            <div class="list-number">01</div>
            <div class="list-header">
              Содержание внутренних помещений и территорий
            </div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-tow')">
            <div class="list-number">02</div>
            <div class="list-header">
              Управление и эксплуатация коммерческой недвижимости и в сфере ЖКХ
            </div>
          </button>
          <button
            class="tablinks"
            onclick="openService(event, 'service-three')"
          >
            <div class="list-number">03</div>
            <div class="list-header">Хозяйственное <br />обслуживание</div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-four')">
            <div class="list-number">04</div>
            <div class="list-header">
              Техническое обслуживание инженерных систем
            </div>
          </button>
          <button class="tablinks" onclick="openService(event, 'service-five')">
            <div class="list-number">05</div>
            <div class="list-header">
              Поддержка материально- технической базы
            </div>
          </button>
        </div>
        <!-- Грид из номера услуги и описания -->
        <div class="services__content">
          <div id="service-one" class="service-one tabcontent">
            <div>
              <div class="title-one">Ежедневная уборка</div>
              <div class="content-one">
                Внутренние помещения <br />и прилегающие территории
              </div>
            </div>
            <div>
              <div class="title-one">Генеральная уборка</div>
              <div class="content-one">
                После строительства, ремонта, <br />пожара, затопления
              </div>
            </div>
            <div>
              <div class="title-one">Химчистка</div>
              <div class="content-one">Мягкой мебели, <br />ковров, жалюзи</div>
            </div>
            <div>
              <div class="title-one">Уход за полом</div>
              <div class="content-one">Полировка, <br />машинная мойка</div>
            </div>
            <div>
              <div class="title-one">Озеленение и благоустройство</div>
              <div class="content-one">
                Полив и стрижка газонов, <br />уход за насаждениями
              </div>
            </div>
            <div>
              <div class="title-one">Уход за фасадами</div>
              <div class="content-one">Окна, витрины, <br />фасады зданий</div>
            </div>
            <div>
              <div class="title-one">Вывоз мусора</div>
              <div class="content-one">Сбор и вывоз <br />на свалку</div>
            </div>
          </div>
          <div id="service-tow" class="service-tow tabcontent">
            <div class="service-tow__info">
              <div>
                <div class="title-tow">Аварийно-восстановительные работы</div>
                <div class="content-tow">
                  Восстановим работу ваших объектов в случае аварий
                </div>
              </div>
              <div>
                <div class="title-tow">Уборка внутренних помещений</div>
                <div class="content-tow">
                  Ежедневная, генеральная уборка, химчистка
                </div>
              </div>
              <div>
                <div class="title-tow">Уборка прилегающих территорий</div>
                <div class="content-tow">Вывоз снега, бытовых отходов</div>
              </div>
            </div>
            <div class="service-tow__img"></div>
          </div>
          <div id="service-three" class="service-three tabcontent">
            <div class="service-three__info">
              <div>
                <div class="title-three">
                  Комплексное эксплуатационно- техническое обслуживание
                </div>
                <div class="content-three"></div>
              </div>
              <div>
                <div class="title-three">
                  Текущий ремонт жилых домов, инженерных систем, оборудования
                </div>
                <div class="content-three"></div>
              </div>
              <div>
                <div class="title-three">
                  Озеленение и благоустройство территории
                </div>
                <div class="content-three">
                  Клумбы, газоны, посадки, детские и спортивные площадки,
                  парковки, дорожки, малые архитектурные формы, земляные работы,
                  асфальтирование, освещение.
                </div>
              </div>
            </div>
            <div class="service-three__img"></div>
          </div>
          <div id="service-four" class="service-four tabcontent">
            <div class="service-four__container">
              <span class="title-one">Обслуживаемые системы</span>
              <div class="service-four__wrapper">
                <div>
                  <div class="icon">
                    <img
                      src="./static/src/icons/service4/heating.png"
                      alt="heating"
                    />
                  </div>
                  <div class="content"><p>Теплоснабжение</p></div>
                </div>
                <div>
                  <div class="icon">
                    <img
                      src="./static/src/icons/service4/electricity.png"
                      alt="electricity"
                    />
                  </div>
                  <div class="content"><p>Электроснабжение</p></div>
                </div>
                <div>
                  <div class="icon">
                    <img
                      src="./static/src/icons/service4/plumbing.png"
                      alt="plumbing"
                    />
                  </div>
                  <div class="content"><p>Водоснабжение и канализация</p></div>
                </div>
                <div>
                  <div class="icon">
                    <img
                      src="./static/src/icons/service4/remoteControl.png"
                      alt="remotecntr"
                    />
                  </div>
                  <div class="content">
                    <p>Удаленный контроль оборудования</p>
                  </div>
                </div>
                <div>
                  <div class="icon">
                    <img
                      src="./static/src/icons/service4/ventilation.png"
                      alt="ventilation"
                    />
                  </div>
                  <div class="content">
                    <p>Вентиляция и кондиционирование</p>
                  </div>
                </div>
                <div>
                  <div class="icon">
                    <img src="./static/src/icons/service4/fire.png" alt="fire" />
                  </div>
                  <div class="content"><p>Противопожарная безопасность</p></div>
                </div>
              </div>
            </div>
            <div class="service-four__list">
              <span class="title-one">Услуги</span>
              <div class="content">
                <p>Контроль состояния систем;</p>
                <p>Сезонная наладка и тестирование;</p>
                <p>Ремонтные и профилактические работы;</p>
                <p>Обслуживание грузоподъемных механизмов;</p>
                <p>Планово-предупредительные работы.</p>
              </div>
            </div>
          </div>
          <div id="service-five" class="service-five tabcontent">
            <div class="service-five__info">
              <!-- <div class="service-five__content"> -->
              <div class="icon">
                <img
                  src="./static/src/icons/service5/parts.png"
                  alt="parts"
                />
              </div>
              <div class="title">Запчасти;</div>
              <div class="icon">
                <img
                  src="./static/src/icons/service5/materials.png"
                  alt="equipment"
                />
              </div>
              <div class="title">Расходные материалы;</div>
              <div class="icon">
                <img
                  src="./static/src/icons/service5/equipment.png"
                  alt="materials"
                />
              </div>
              <div class="title">Оборудование и монтаж;</div>
              <div class="icon">
                <img
                  src="./static/src/icons/service5/office.png"
                  alt="office"
                />
              </div>
              <div class="title">Общее офисное снабжение.</div>
              <!-- </div> -->
            </div>
            <div class="service-five__img"></div>
          </div>
        </div>
        <!-- карточка сервиса с ссылками -->
      </div>
    </section>
    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
    <div class="offices " id="contacts">
      <div style="width: 1000px; height: 1000px"> {% include '../maps_django/map.html' only%}</div>
      <div class="search">
        <form action="get" class="cities">
          <div class="search__city">
            <input
              class="search__city-name"
              placeholder="Введите свой город для поиска"
            />
            <button class="search__city-btn" type="button">
              <img src="./static/src/icons/Arrow-Search.png" alt="arrow-search">
            </button>
          </div>
          <div class="cities-list">
            {% for post in posts %}
            <div class="cities-item">
              <p class="cities_name">{{post.name_city}}</p>
              <p class="cities_adress">{{post.address}}</p>
              <p class="cities_phone">{{post.phone_number}}</p>
            </div>
            {% endfor %}
          </div>
          <div class="gradient"></div>
          <div class="search-info">
            <div class="search-info_content">
              <p class="search-info_text">Единая справочная служба</p>
              <p class="search-info_phone">  8 800 333 99 09 </p>
            </div>
              <p class="search-info_text-tow">(по России звонок бесплатный)</p>

            <div class="search-info_mail link"><a href="#" class="search-info_mail link">info@cleanok.ru</a></div>

          </div>
        </form>
      </div>
    </div>
    <section class="action">
      <a id="call_action"></a>
      <div class="about">
        <span class="about_title">оставьте заявку</span>
        <h2 class="about_header">Напишите нам</h2>
        <article class="about_content">
          С 2009 года создаем чистоту на объектах. Подбираем график с учетом
          пожеланий клиента. <br><br>Экономим время, деньги и даем отличный результат за
          счет использования профессиональной техники, экологически безопасных
          средств, регулярного обучения персонала и оптимизации процесса.<br><br>
          Заполните форму, мы свяжемся с вами в ближайшее время, обсудим задачи
          и предложим оптимальное решение.
        </article>
      </div>
      <div class="action_form">
        <form action="{% pageurl page %}" method="POST" class="action__form">
          {% csrf_token %}
          <div class="form__wrapper">
            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="client_info">
              {% render_field form.u0418u043cu044f placeholder="Ваше имя"%}
              {% render_field  form.u041du043eu043cu0435u0440_u0442u0435u043bu0435u0444u043eu043du0430 type="phone" id="sphone" placeholder="+7 ("pattern="([0-9]{3}[ -][0-9]{3}[ -][0-9]{4})"%}
            </div>
            {% render_field form.email type="text" id="scompany" placeholder="Наименование компании"%}
            <div class="client__messege">
              {% render_field form.messages  class="smess" name="smassage" id="smassege" cols="47" rows="6" placeholder="Напишите, о чем нам нужно знать"%}
            </div>
            {% render_field form.wagtailcaptcha%}
            <button type="submit" class="action__btn" >Заказать звонок</button>
          </div>
        </form>
      </div>
    </section>

    {% for block in page.add_content %}
        {% include_block block %}
    {% endfor %}

    <footer class="footer">
      <container class="footer__wrapper container">
        <div class="footer__info">
          <div class="logo">CLEANOK</div>
          <p class="footer__content">
            ООО «Клин Ок» — клининговая компания на Дальнем Востоке Данные
            юридического лица компании ОГРН, КПП <br>г. Хабаровск, ул. Серышева, 56
          </p>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts_text" >Единая справочная служба</p>
          <p class="footer__contacts_info">по России звонок бесплатный</p>
          <p class="footer__contacts_phone">8 800 333 99 09</p>
        </div>
      </container>
    </footer>


{% endblock %}