<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Favorite Spots in LA</title>
  </head>
  <body>
    <div id="map"></div>

    <script src="../static/js/scripts.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCixMkOq7q7QWu02m5iIcbZY-HUWMGM3RE&callback=initMap"
      type="text/javascript"
    ></script>
  </body>
</html>
