
.header__container
    height: 60
    display: flex
    justify-content: space-between
    align-items: center

.logo
    color: #041133
    font-family: Dosis
    font-weight: bold
    font-size: 25px
    letter-spacing: 0.15em
    text-transform: uppercase
    margin-left: 30px

.nav
    display: flex
    justify-content: space-between
    width: 480px
.nav__item
    font-family: Roboto
    font-size: 14px
    line-height: 20px
    color: #041133
    opacity: 0.7

.nav__link
    text-decoration: none

.nav__list
    display: flex
    list-style: none
    width: 390px
    justify-content: space-between
.nav__burger
    margin-top: 23px
    margin-right: 36px
    width: 20px
    height: 16px
    border: none
    background-color: inherit
    cursor: pointer
.burger
    // height: 2px
    display: flex
    flex-direction: column
    margin-top: -2px
    line-height: 2px

.burger-one
    width: 16px
    background: #6783fe
    border: none
    height: 2px

.burger-tow
    width: 20px
    background: #6783fe
    border: none
    height: 2px
.burger-three
    width: 11px
    background: #6783fe
    border: none
    height: 2px
