.intro
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr

.intro__descr
    margin-top: 130px
    margin-left: 135px
    width: 532px
.intro__header
    font-family: Yanone Kaffeesatz
    font-size: 52px
    line-height: 55px
    letter-spacing: 0.01em
    color: #041133
.intro__text
    margin-top: 30px
    font-family: Roboto
    font-size: 16px
    line-height: 25px
    letter-spacing: 0.02em
    color: rgba(4, 17, 51, 0.7)
    font-weight: 800px
.intro__image
    margin-top: -28px
    z-index: -1
    width: 740px
.intro__btn
    display: flex
    align-items: center
    justify-content: center
    margin-top: 40px
    width: 180px
    height: 50px
    background-color: #FF785F
    font-family: Roboto
    font-weight: 500
    font-size: 16px
    line-height: 25px
    letter-spacing: 0.02em
    border: none
    border-radius: 3px
    text-decoration: none
    cursor: pointer
.nav__link-btn
    text-decoration: none
    color: #ffff

.intro__features
    margin-top: 85px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    grid-column-gap: 75px
    grid-row-gap: 10px
    font-family: Roboto
    font-size: 16px
    line-height: 25px
    letter-spacing: 0.02em
    color: rgba(4, 17, 51, 0.7)
sup
    font-size: 10px
.city
    text-decoration: none
    color: #6783FE
