.float-nav
    width: 1440px
    margin: 0 auto
.header__container-float
    z-index: 99999
    position: fixed
    margin-top: -55px
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    background: #FFFFFF
    box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11)
    // transition-duration: .2s

.logo
    color: #041133
    font-family: Dosis
    font-weight: bold
    font-size: 25px
    letter-spacing: 0.15em
    text-transform: uppercase
    margin-left: 30px

.nav__link
    text-decoration: none
    color: #041133

.intro__btn-float
    width: 150px
    height: 30px
    background-color: #FF785F
    font-family: Roboto
    font-weight: 500
    font-size: 14px
    line-height: 20px
    border: none
    margin-left: 550px
    display: flex
    align-items: center
    justify-content: center

.nav__link-float
    text-decoration: none
    color: #ffff
