.sertificates__wrapper
    width: 1170px
    min-height: 572px
    margin: 0 auto
.sertificates__descr
    font-family: Roboto
    font-weight: bold
    font-size: 11px
    line-height: 13px
    letter-spacing: 0.2em
    text-transform: uppercase
    color: #6783FE
    opacity: 0.8
.sertificates__header
    margin-top: 17px
    font-family: Yanone Kaffeesatz
    font-size: 35px
    line-height: 35px
    text-align: center
    letter-spacing: 0.01em
    color: #041133
    opacity: 0.8

.sertificates__title
    text-align: center
    margin-top: 120px

// .slider__img
//     padding-top: 30px
// .slider__descr
//     margin-top: 6px
//     font-family: Roboto
//     font-weight: bold
//     font-size: 11px
//     line-height: 13px
//     letter-spacing: 0.2em
//     text-transform: uppercase
//     color: #6783FE
//     opacity: 0.8
// .slider__header
//     margin-top: -4px
//     font-family: Roboto
//     font-weight: 500
//     font-size: 16px
//     line-height: 20px
//     letter-spacing: 0.02em
//     color: #041133
//     opacity: 0.8
// .slider__content
//     margin-top: -30px
//     font-family: Roboto
//     font-size: 14px
//     line-height: 20px
//     color: rgba(0, 0, 0, 0.7)
//     opacity: 0.8
//     text-align: center
