@import general
@import header
@import footer
@import modal

.wrapper
    width: 766px
    margin: 0 auto
.section-one
    margin-top: 110px
.section-tow
    margin-top: 56px
.image-block
    margin-top: 40px
.image-descr
    text-align: center
    font-family: Roboto
    font-size: 14px
    line-height: 20px
    color: rgba(4, 17, 51, 0.7)
    margin-top: 6px
.section-three
    margin-top: 54px
.section-four
    margin-top: 40px
    .subtitle
        margin-top: 30px

h1
    font-family: Yanone Kaffeesatz
    font-size: 52px
    line-height: 55px
    letter-spacing: 0.01em
    color: #041133
    opacity: 0.8
    font-weight: normal

h3
    font-family: Roboto
    font-weight: 500
    font-size: 22px
    line-height: 25px
    letter-spacing: 0.02em
    color: rgba(4, 17, 51, 0.7)

.text, .text-section_four
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 25px
    letter-spacing: 0.02em
    color: rgba(4, 17, 51, 0.7)
.image-block
    justify-items: center

.list-numeration
    margin-top: 20px
    margin-left: -20px
    li
        padding-left: 10px
        margin-top: 16px
.list-marked
    list-style-image: url(../src/icons/ListElips.png)
    margin-top: 28px
    margin-left: -22px
    li
        padding-left: 15px
        margin-top: 20px
.title-five
    margin-top: 38px
    margin-left: 43px
.table
    width: 846px
    margin: 0 auto

.table-form
    display: flex
    flex-direction: column
    border: 1px solid #6783FE
    border-radius: 5px
    width: 846px
.table-header, .even, .odd
    display: grid
    grid-template-columns: 310px repeat(3, 178px)
    align-items: center
    min-height: 50px
    text-align: center
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 16px
    color: rgba(4, 17, 51, 0.7)
.table-header
    height: 73px
    font-family: Roboto
    font-weight: bold
    font-size: 11px
    line-height: 13px
    letter-spacing: 0.2em
    text-transform: uppercase
    color: #041133
    opacity: 0.5
.even
    background: #F4F8FB
.first-column
    text-align: left
    margin-left: 38px
.footer
    margin-top: 158px
.modal__contacts_phone
    font-size: 16px
