<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/staff.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto:wght@400;500&family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <script src="./js/nav-float.js" defer></script>
    <script src="./js/modal.js" defer></script>

    <title>CLEANOK</title>
  </head>
  <body>
    <header class="header container">
      <div class="header__container">
        <div class="logo">
          <a href="./index.html" class="logo">CLEANOK</a>
        </div>
        <div class="intro__btn-float hidden">
          <a href="#call_action" class="nav__link-float"> Заказать звонок </a>
        </div>
        <div class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./index.html#clients" class="nav__link link">Клиенты</a>
            </li>
            <li class="nav__item">
              <a href="./index.html#srv" class="nav__link link">Услуги</a>
            </li>
            <li class="nav__item">
              <a href="./index.html#docs" class="nav__link link">Сертификаты</a>
            </li>
            <li class="nav__item">
              <a href="./index.html#contacts" class="nav__link link"
                >Контакты</a
              >
            </li>
          </ul>
          <button type="button" class="nav__burger">
            <div class="burger">
              <hr class="burger burger-one" />
              <hr class="burger burger-tow" />
              <hr class="burger burger-three" />
            </div>
          </button>
        </div>
      </div>
    </header>
    <div class="staff container">
      <h2 class="staff-title">Наши сотрудники</h2>
      <div class="staff-wrapper">
        <div class="staff-photo">
          <img src="./src/img/Service2.jpg" alt="photo" class="staff-photo" />
        </div>
        <div class="staff-info">
          <div class="staff-name">Имя Отчество Фамилия</div>
          <!-- <div class="sername">Фамилия</div> -->
          <div class="position">Должность</div>
          <div class="staff-about">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
            molestias pariatur doloremque. Assumenda debitis reprehenderit
            harum, est sed ducimus vel velit praesentium illo vitae accusantium
            alias accusamus provident pariatur ipsa. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Esse molestias pariatur doloremque.
            Assumenda debitis reprehenderit harum, est sed ducimus vel velit
            praesentium illo vitae accusantium alias accusamus provident
            pariatur ipsa.
          </div>
        </div>
      </div>
      <div class="staff-wrapper">
        <div class="staff-photo">
          <img src="./src/img/Service2.jpg" alt="photo" class="staff-photo" />
        </div>
        <div class="staff-info">
          <div class="staff-name">Имя Отчество Фамилия</div>
          <!-- <div class="sername">Фамилия</div> -->
          <div class="position">Должность</div>
          <div class="staff-about">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
            molestias pariatur doloremque. Assumenda debitis reprehenderit
            harum, est sed ducimus vel velit praesentium illo vitae accusantium
            alias accusamus provident pariatur ipsa. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Esse molestias pariatur doloremque.
            Assumenda debitis reprehenderit harum, est sed ducimus vel velit
            praesentium illo vitae accusantium alias accusamus provident
            pariatur ipsa.
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__wrapper container">
        <div class="footer__info">
          <div class="logo">CLEANOK</div>
          <p class="footer__content">
            ООО «Клин Ок» — клининговая компания на Дальнем Востоке Данные
            юридического лица компании ОГРН, КПП <br />г. Хабаровск, ул.
            Серышева, 56
          </p>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts_text">Единая справочная служба</p>
          <p class="footer__contacts_info">по России звонок бесплатный</p>
          <p class="footer__contacts_phone">8 800 333 99 09</p>
        </div>
      </div>
    </footer>
    <form action="#" class="modal hidden">
      <div class="nav">
        <ul class="nav__burger-list">
          <li class="nav__item">
            <a href="./staff.html" class="nav__link link">Сотрудники</a>
          </li>
          <li class="nav__item">
            <a href="./textpage.html" class="nav__link link">О компании</a>
          </li>
          <li class="nav__item">
            <a href="./textpage.html" class="nav__link link">Реквизиты</a>
          </li>
          <li class="nav__item">
            <a href="./textpage.html" class="nav__link link"
              >Еще одна страница</a
            >
          </li>
        </ul>
      </div>
      <div class="divider"><hr /></div>
      <div class="nav__burger-contacts">
        <p class="modal__contacts_text">Единая справочная служба</p>
        <p class="modal__contacts_phone">8 800 333 99 09</p>
      </div>
    </form>
  </body>
</html>
