{% load static %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load static wagtailuserbar base_tags %}
{% load static wagtailuserbar burger_menus_tags %}
{% load static wagtailuserbar custom_code_tags %}

{% get_menu "burger" as burger %}
{% get_code "code" as code %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{%  static 'css/normalize.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{%  static 'css/staff.css' %}" />
        <link rel="stylesheet" type="text/css" href="{%  static 'css/custom.css' %}" />
        <link
          href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Yanone+Kaffeesatz&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto:wght@400;500&family=Yanone+Kaffeesatz&display=swap"
          rel="stylesheet"
        />

        <script  src="{%  static 'js/main.js' %}" defer></script>
        <script  src="{%  static 'js/swiper.js' %}" defer></script>
        <script  src="{%  static 'js/nav-float.js' %}" defer></script>
        <script  src="{%  static 'js/modal.js' %}" defer></script>
        <script  src="{%  static 'js/scroll.js' %}" defer></script>
        <script src="{% static 'js/action.js' %}" defer></script>
        <script src="{% static 'js/csi.js' %}" defer></script>
        <script type="text/javascript" src="../media/js/{{code.js_name_file}}" defer></script>
        <link rel="stylesheet" type="text/css" href="../media/css/{{code.css_name_file}}" />
        <!-- Smartsupp Live Chat script -->


    </head>

<body class="{% block body_class %}{% endblock %}">
    {% block main_navigation %}

    <header class="header container">
      <div class=" header__container">
        <div class="logo">CLEANOK</div>
        <div class="intro__btn-float hidden">
            <a href="#call_action" class="nav__link-float">
              Заказать звонок
            </a>
          </div>
        <div class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#clients" class="nav__link link">Клиенты</a>
            </li>
            <li class="nav__item">
              <a href="#srv" class="nav__link link">Услуги</a>
            </li>
            <li class="nav__item">
              <a href="#docs" class="nav__link link">Сертификаты</a>
            </li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link link">Контакты</a>
            </li>
          </ul>
          <button type="button" class="nav__burger">
            <div class="burger">
              <hr class="burger burger-one"></hr>
              <hr class="burger burger-tow"></hr>
              <hr class="burger burger-three"></hr>
            </div>
          </button>
        </div>
      </div>
    </header>

        <form action="#" class="modal hidden">
      <div class="nav">
        <ul class="nav__burger-list">
            {% for item in burger.menu_items.all %}
            <li class="nav__item">
              <a href="{{ item.link }}" class="nav__link link"
                 {% if item.open_in_new_tab %}
                   target="_blank"
                 {% endif %}
              >{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="divider"><hr></div>
        <div class="nav__burger-contacts">
          {% for item in burger.menu_footer.all %}
            <p class="modal__contacts_text">{{ item.text }}</p>
            <p class="modal__contacts_phone">{{ item.phone }}</p>
          {% endfor %}
        </div>
      </div>
    </form>
    {% endblock %}
  <div class="intro container">
    <h2>
        Спасибо за ваш отзыв!
    </h2>
  </div>

</body>