@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.8;
}

.hidden {
  visibility: hidden;
  display: none;
}

.header__container {
  height: 60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #041133;
  font-family: Dosis;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: 30px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 480px;
}

.nav__item {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #041133;
  opacity: 0.7;
}

.nav__link {
  text-decoration: none;
  color: #041133;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__burger {
  margin-top: 23px;
  margin-right: 36px;
  width: 20px;
  height: 16px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2px;
  line-height: 2px;
}

.burger-one {
  width: 16px;
  background: #6783fe;
  border: none;
  height: 2px;
}

.burger-tow {
  width: 20px;
  background: #6783fe;
  border: none;
  height: 2px;
}

.burger-three {
  width: 11px;
  background: #6783fe;
  border: none;
  height: 2px;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.intro__descr {
  margin-top: 130px;
  margin-left: 135px;
  width: 532px;
}

.intro__header {
  font-family: Yanone Kaffeesatz;
  font-size: 52px;
  line-height: 55px;
  letter-spacing: 0.01em;
  color: #041133;
}

.intro__text {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  font-weight: 800px;
}

.intro__image {
  margin-top: -55px;
  z-index: -1;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  width: 180px;
  height: 50px;
  background-color: #FF785F;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.nav__link-btn {
  text-decoration: none;
  color: #ffff;
}

.intro__features {
  margin-top: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 75px;
  grid-row-gap: 10px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

sup {
  font-size: 10px;
}

.city {
  text-decoration: none;
  color: #6783FE;
}

.clients {
  text-align: center;
  width: 1014.85px;
  margin-top: 62px;
}

.clients__descr {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.clients__header {
  margin-top: 20px;
  text-align: center;
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1014.85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  row-gap: 30px;
  margin-top: 45px;
}

.services {
  margin-top: 130px;
}

.services__descr {
  margin-left: 135px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.services__header {
  width: 271px;
  margin-top: 20px;
  margin-left: 135px;
}

.services__info {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__list {
  width: 303px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__list button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  background-color: inherit;
  color: black;
  padding: 17px 0px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-number {
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.4;
}

.list-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.4;
}

.services__list button.active .list-number {
  color: #6783FE;
  opacity: 1;
}

.services__list button.active .list-header {
  color: #6783FE;
  opacity: 1;
}

.services__content {
  width: 807px;
  height: 390px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  border-left: 3px solid #6783FE;
  -webkit-box-shadow: 0px 0px 11px 0px #0411331C;
          box-shadow: 0px 0px 11px 0px #0411331C;
  margin-top: 2px;
}

.service-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 33% auto;
      grid-template-columns: 25% 33% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 60px;
  grid-row-gap: 8px;
  width: 807px;
  min-height: 390px;
  padding-top: 38px;
  padding-left: 29px;
}

.title-one {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.content-one {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}

.hidden {
  visibility: hidden;
  display: none;
}

.service-tow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  width: 807px;
  min-height: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29px;
}

.title-tow {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.content-tow {
  font-family: Roboto;
  font-size: 14px;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 10px;
}

.service-tow__info {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  min-height: 250px;
}

.service-tow__img {
  width: 358px;
  background: url(../src/img/Service2.jpg) no-repeat center;
  border-radius: 5px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.service-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  width: 807px;
  min-height: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29px;
}

.title-three {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}

.content-three {
  font-family: Roboto;
  font-size: 14px;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 10px;
  line-height: 20px;
}

.service-three__info {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
  min-height: 200px;
  width: 372px;
}

.service-three__img {
  width: 358px;
  background: url(../src/img/Service3.jpg) no-repeat center;
  border-radius: 5px;
}

.service-four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  margin-left: 50px;
  min-height: 390px;
}

.service-four p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}

.service-four__container {
  margin-top: 60px;
}

.service-four__wrapper {
  width: 340px;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 60px;
}

.service-four__wrapper .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-four__wrapper .content {
  text-align: center;
}

/**     подогнать под перфек пиксель согласно макету, оптимизировать код **/
.service-four__list {
  background-color: #f8fafb;
  border-radius: 5px;
  padding-left: 46px;
}

.service-four__list .title-one {
  margin-top: 60px;
}

.service-four__list .content {
  margin-top: 70px;
}

.service-four__list .content p {
  margin-top: 24px;
  padding-right: 50px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.service-five {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  width: 807px;
  min-height: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29px;
}

.service-five__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  -ms-grid-rows: (60px)[4];
      grid-template-rows: repeat(4, 60px);
  margin-top: 90px;
  width: 280px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.service-five__img {
  width: 358px;
  background: url(../src/img/Service5.jpg) no-repeat center;
  border-radius: 5px;
}

.modal {
  width: 360px;
  height: 90%;
  top: 50px;
  left: 1152px;
  position: fixed;
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

.nav__burger-list {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  list-style: none;
}

.divider {
  color: #E0E3F0;
  opacity: 0.3;
  margin-top: 400px;
}

.nav__burger-contacts {
  margin-top: 30px;
  text-align: center;
}

.nav__burger-contacts .footer__contacts_text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #041133;
  opacity: 0.7;
}

.nav__burger-contacts .footer__contacts_phone {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #6783FE;
}

.sertificates__wrapper {
  width: 1170px;
  min-height: 572px;
  margin: 0 auto;
}

.sertificates__descr {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.sertificates__header {
  margin-top: 17px;
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.8;
}

.sertificates__title {
  text-align: center;
  margin-top: 120px;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 1180px;
  margin: 0 auto;
  min-height: 250px;
}

.slider-container {
  padding-top: 10px;
  padding-left: 3px;
  overflow: hidden;
  min-height: 280px;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider-item {
  min-width: 263px;
  min-height: 248px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
  border-radius: 5px;
  justify-items: center;
}

.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.slider-buttons .btn-prev, .slider-buttons .btn-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #E0E3F0;
  opacity: 0.5;
}

.slider-buttons .btn-prev {
  margin-right: 10px;
  background: url(../src/icons/arrow-left.png) no-repeat center;
}

.slider-buttons .btn-next {
  margin-left: 10px;
  background: url(../src/icons/arrow-right.png) no-repeat center;
}

.slider-item__img {
  padding-top: 30px;
}

.slider-item__descr {
  margin-top: 6px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.slider-item__header {
  margin-top: -4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.8;
}

.slider-item__content {
  margin-top: -30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  text-align: center;
}

.float-nav {
  width: 1440px;
  margin: 0 auto;
}

.header__container-float {
  z-index: 99999;
  position: fixed;
  margin-top: -55px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

.logo {
  color: #041133;
  font-family: Dosis;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: 30px;
}

.nav__link {
  text-decoration: none;
  color: #041133;
}

.intro__btn-float {
  width: 150px;
  height: 30px;
  background-color: #FF785F;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  margin-left: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link-float {
  text-decoration: none;
  color: #ffff;
}

.offices {
  position: relative;
  height: 537px;
  margin: 0 auto;
  margin-top: -65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1440px;
}

.map {
  position: absolute;
  z-index: -1;
  height: 530px;
}

.search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 942px;
  top: 20px;
  width: 363px;
  height: 490px;
  z-index: 2;
  background: #ffff;
}

.cities {
  width: 363px;
  height: 490px;
}

.search__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 363px;
  border: none;
  border-radius: 5px;
}

.search__city-name {
  width: 315px;
  height: 51px;
  border: none;
  padding-left: 20px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

.search__city-btn {
  height: 51px;
  width: 50px;
  padding: 0 0;
  border: none;
  background: #6783FE;
  border-radius: 0px 5px 0px 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 6px;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
  border-radius: 5px;
  margin: 0 0;
  padding: 20px;
  padding-left: 26px;
  height: 324px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d3d3d4;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

::-webkit-scrollbar {
  width: 8px;
  max-height: 15px;
}

.cities-item {
  margin-top: -17px;
}

.gradient {
  position: absolute;
  margin-top: -25px;
  width: 347px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  border-radius: 5px;
}

.cities_name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.8;
}

.cities_adress {
  margin-top: -10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
}

.cities_phone {
  margin-top: -12px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
}

.search-info {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(4, 17, 51, 0.7);
}

.search-info_content {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-info_phone, .search-info_mail {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #6783FE;
}

.search-info_phone {
  margin-left: 6px;
}

.search-info_text-tow {
  margin-top: -12px;
}

.search-info_mail {
  margin-top: -14px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about {
  width: 363px;
  height: 405px;
  margin-left: 366px;
  margin-top: 60px;
}

.about_title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
}

.about_header {
  margin-top: 18px;
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #041133;
}

.about_content {
  font-family: Roboto;
  font-size: 16px;
  line-height: 23.2px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 36px;
}

.form__wrapper {
  width: 362px;
  height: 305px;
  margin-top: 170px;
  margin-left: 82px;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  color: #041133;
}

.client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_info input {
  padding-left: 15px;
  width: 171px;
  height: 40px;
}

input, textarea:focus {
  outline: 0 !important;
}

input, textarea:active {
  outline: 0 !important;
}

input:focus {
  border: none;
  outline: 2px solid #6783FE !important;
}

.smess:focus {
  border: none;
  outline: 2px solid #6783FE !important;
}

#scompany {
  margin-top: 20px;
  padding-left: 15px;
  width: 362px;
  height: 40px;
}

.client__messege {
  margin-top: 20px;
  width: 362px;
  min-height: 115px;
}

.client__messege .smess {
  width: 362px;
  min-height: 115px;
}

.client__messege textarea {
  padding-top: 15px;
  padding-left: 15px;
  resize: none;
}

.action__btn {
  margin-top: 20px;
  background: #6783FE;
  border-radius: 3px;
  width: 362px;
  height: 50px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.footer {
  background: #E0E3F0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 244px;
  margin-top: 74px;
}

/**              перекрывает текст, как исправить?
 **/
.footer__info {
  font-family: Roboto;
  margin-top: 70px;
  margin-left: 137px;
  font-size: 14px;
  line-height: 20px;
  width: 411px;
}

.footer__info .logo {
  color: #041133;
  margin-left: -4px;
}

.footer__info .footer__content {
  margin-top: 22px;
  margin-left: -8px;
  color: rgba(4, 17, 51, 0.7);
}

.footer__contacts {
  margin-right: 154px;
  margin-top: 68px;
}

.footer__contacts_text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  letter-spacing: 0.02em;
}

.footer__contacts_info {
  font-family: Roboto;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(4, 17, 51, 0.7);
}

.footer__contacts_phone {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #6783FE;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */